@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');


body {
  font-family: 'Titillium Web', sans-serif;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bgDefault{
  background-image: url(./img/default.svg);

}

.bgHot{
  background-image: url(./img/hot.svg);
}

.bgNormal{
  background-image: url(./img/normal.svg);

}

.bgCold{
  background-image: url(./img/cold.svg);

}


/*****************************************************/

.searchBarContainer{
  height: 13%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 95%;
  position: relative;
}


.searchBar {
  
  gap: 0.25rem;
  
}

.searchBar * {
  font-size: 0.9rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  border-radius: .5rem;
}

.searchBar label {
  display: none;
}
.searchBar input {
  
  padding-left: .5rem;

}



.opciones{
  display: flex;
  display: none;
  position: absolute;
  top: 65%;
  z-index: 10;
 
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  width: 100%;

}

.opcion{
  padding: .5rem;
  cursor: pointer;
}

.opcion:hover{
  background-color: azure;
}



/*///////////////////////////////////////////////////////*/

.content {
  width: 80%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
  height: 80%;
}

.weather,
.map {
  height: 50%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
  -webkit-backdrop-filter: blur(21px);
  backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.277);
  border: 1px solid rgba(255, 255, 255, 0.16);
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  border-radius: 24px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/*  CONTENIDO DE LA TARJETA WEATHER     */

.weather{
  gap: .5rem;
}


.cityInfoDiv{  
  display: flex;
  min-height: 2.3rem;
  gap: 1rem;
  align-items: center;
}


.cityName{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.countryFlagDiv{
  max-height: 1rem;
  padding-top: .25rem;
  min-width: 2.3rem;
  display: flex;
  align-items: center;
}

.countryFlag{
  max-width: 2.3rem;
}


.weatherInfoDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp{
  font-size: 3rem;
}

.description{
  display: flex;
  align-items: center;
  
}

.descriptionImg{
  max-width: 2rem;
  filter: brightness(140%);
  -webkit-filter: brightness(140%);
}

.humidity{
  display: flex;
  align-items: center;
  font-size: .9rem;
  margin-left: -0.5rem;
}



.map{padding: 0;}
.map iframe{
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

/******************FOOTER********************************/

.footer{
  position:fixed;
  left:0px;
  bottom: -0.4rem;
  height:2rem;
  width:100%;
  display: flex;
  justify-content: center;
  color: white; 
  text-shadow: black 0 0 8px;
  font-size: 0.85rem;
}

.footerLink{
  text-decoration: none;
  font-weight: 600;
  -webkit-filter: brightness(120%);
  filter: brightness(140%);
  text-shadow: white 1px 1px 5px;
  -webkit-transition: font-size 0.2s ease-in-out;
  -moz-transition: font-size 0.2s ease-in-out;
  -ms-transition: font-size 0.2s ease-in-out;
  -o-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

.footerLink:hover{
  font-size: 1rem;
}

.colorLink{
  -webkit-animation: color-change 14s infinite;
  animation: color-change 14s infinite;
}

@keyframes color-change{
  0% {color: red;}
  7.14% {color: rgb(255, 128, 0);}
  14.28% {color: yellow;}
  21.42% {color: green;}
  28.56% {color: blue;}
  35.7% {color: indigo;}
  42.84% {color: violet;}
  50% {color: red;}
  57.14% {color: rgb(255, 128, 0);}
  64.28% {color: yellow;}
  71.42% {color: green;}
  78.56% {color: blue;}
  85.7% {color: indigo;}
  92.84% {color: violet;}
  100% {color:red}
}



/*******************************************************/

@media (width >= 500px){

  .searchBar *{
    font-size: 1.2rem;
  }

  .footer{
    font-size: 1.25rem;
  }

  .footerLink:hover{
    font-size: 1.35rem;
  }


  .weather{
    gap: 1rem;
  }
  
  
  .cityInfoDiv{  
   
    min-height: 3rem;
    gap: 1.2rem;
    align-items: center;
  }
  
  
  .cityName{
    
    font-size: 2.5rem;
  }
  
  .countryFlagDiv{
    min-height: 3rem;    
    min-width: 3.5rem;
   
  }
  
  .countryFlag{
    max-width: 3.5rem;
  }
  
  
  .weatherInfoDiv{   
    gap: 1rem;
  }
  
  .temp{
    font-size: 5rem;
  }
  
  .description{
    
    font-size: 1.5rem;
    
  }
  
  .descriptionImg{
    max-width: 3rem;
    filter: brightness(140%);
    -webkit-filter: brightness(140%);
  }
  
  .humidity{
    
    font-size: 1.2rem;
    margin-left: -1rem;
  }






}








@media (width >= 1000px) {

  

  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    gap: 5rem;
    max-width: 70rem;
  }

  .weather,
  .map {
    height: 60%;
    width: 100%;
    
  }

  


}
